version: "3.8"
services:
  mongo:
    image: mongo:6
    restart: unless-stopped
    volumes:
      - mongo-data:/data/db
    environment:
      MONGO_INITDB_DATABASE: myappdb

  backend:
    image: rajendra3/backend:latest
    build:
      context: ./backend
    restart: unless-stopped
    environment:
      - PORT=3000
      - MONGO_URI=mongodb://mongo:27017/myappdb
    depends_on:
      - mongo
    networks:
      - appnet

  frontend:
    image: rajendra3/frontend:latest
    build:
      context: ./frontend
    restart: unless-stopped
    networks:
      - appnet

  nginx:
    image: nginx:stable-alpine
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ./deploy/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - frontend
      - backend
    networks:
      - appnet

volumes:
  mongo-data:

networks:
  appnet:
    driver: bridge
